In [43]:
import pandas_datareader as pdr
import datetime
import pandas as pd
import matplotlib.pyplot as plt

In [60]:
def get(tickers):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker))
    datas = map (data, tickers)
    return(pd.concat(datas, keys = tickers, names = ['Ticker', 'Date']))

In [64]:
tickers = ['^GSPC', '^N225', '000001.SS']
mkt_index = get(tickers)

In [76]:
mkt_index.head(1)

,,High,Low,Open,Close,Volume,Adj Close
Ticker,Date,,,,,,
^GSPC,2010-01-04,1133.869995,1116.560059,1116.560059,1132.98999,3.991400e+09,1132.98999

In [90]:
mkt_index_close = mkt_index[['Close']]
mkt_index_returns = mkt_index_close.pct_change()
spx_returns = mkt_index_returns.iloc[mkt_index_returns.index.get_level_values('Ticker') == '^GSPC']
nikkei_returns = mkt_index_returns.iloc[mkt_index_returns.index.get_level_values('Ticker') == '^N225']
shcomp_returns = mkt_index_returns.iloc[mkt_index_returns.index.get_level_values('Ticker') == '000001.SS']

In [91]:
mkt_index_returns.head()

                      Close
Ticker Date
^GSPC  2010-01-04       NaN
       2010-01-05  0.003116
       2010-01-06  0.000546
       2010-01-07  0.004001
       2010-01-08  0.002882

In [94]:
spx_returns.head()

                      Close
Ticker Date
^GSPC  2010-01-04       NaN
       2010-01-05  0.003116
       2010-01-06  0.000546
       2010-01-07  0.004001
       2010-01-08  0.002882

In [96]:
return_data = pd.concat([spx_returns, nikkei_returns, shcomp_returns], axis = 1)[1:]
return_data.columns = ['SPX', 'NIKKEI', 'SHCOMP']
return_data.head()

                      SPX  NIKKEI    SHCOMP
Ticker    Date
000001.SS 2010-01-05  NaN     NaN  0.011844
          2010-01-06  NaN     NaN -0.008520
          2010-01-07  NaN     NaN -0.018880
          2010-01-08  NaN     NaN  0.001009
          2010-01-11  NaN     NaN  0.005242

In [97]:
return_data = pd.concat([spx_returns, nikkei_returns], axis = 1)[1:]
return_data.columns = ['SPX', 'NIKKEI']
return_data.head()

                        SPX  NIKKEI
Ticker Date
^GSPC  2010-01-05  0.003116     NaN
       2010-01-06  0.000546     NaN
       2010-01-07  0.004001     NaN
       2010-01-08  0.002882     NaN
       2010-01-11  0.001747     NaN