In [43]:
import pandas_datareader as pdr
import datetime
import pandas as pd
import matplotlib.pyplot as plt

In [180]:
def get(tickers, startdate, enddate):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker, start = startdate, end = enddate))
    datas = map (data, tickers)
    return(pd.concat(datas, keys = tickers, names = ['Ticker', 'Date']))

In [181]:
tickers = ['^NYA', '^N225']
mkt_index = get(tickers, datetime.datetime(2017, 10, 1), datetime.datetime(2018, 10, 20))

In [182]:
mkt_index.head(2)

                           High           Low          Open         Close  \
Ticker Date
^NYA   2017-10-02  12265.389648  12200.129883  12209.160156  12264.660156
       2017-10-03  12303.719727  12266.519531  12274.730469  12302.879883

                         Volume     Adj Close
Ticker Date
^NYA   2017-10-02  3.199730e+09  12264.660156
       2017-10-03  3.068850e+09  12302.879883

In [183]:
mkt_index_close = mkt_index[['Close']]
mkt_index_returns = mkt_index_close / mkt_index_close.shift(1) - 1
nyse_returns = mkt_index_returns.iloc[mkt_index_returns.index.get_level_values('Ticker') == '^NYA']
nyse_returns.index = nyse_returns.index.droplevel('Ticker')
nikkei_returns = mkt_index_returns.iloc[mkt_index_returns.index.get_level_values('Ticker') == '^N225']
nikkei_returns.index = nikkei_returns.index.droplevel('Ticker')

In [200]:
return_data = pd.concat([nyse_returns, nikkei_returns], axis = 1)
return_data.columns = ['NYSE', 'NIKKEI']
return_data = return_data.drop(pd.Timestamp('2017-10-02'))
return_data = return_data.fillna(method = 'ffill')

In [201]:
return_data.head()

                NYSE    NIKKEI
Date
2017-10-03  0.003116  0.010455
2017-10-04  0.000145  0.000611
2017-10-05  0.002784  0.000092
2017-10-06 -0.001721  0.003013
2017-10-09 -0.001927  0.003013