In [43]:
import pandas_datareader as pdr
import datetime
import pandas as pd
import matplotlib.pyplot as plt

In [60]:
def get(tickers, start, end):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker))
    datas = map (data, tickers)
    return(pd.concat(datas, keys = tickers, names = ['Ticker', 'Date']))

In [64]:
tickers = ['^GSPC', '^N225', '000001.SS']
mkt_index = get(tickers)

In [121]:
mkt_index.head(2)

                          High          Low         Open       Close  \
Ticker Date
^GSPC  2010-01-04  1133.869995  1116.560059  1116.560059  1132.98999
       2010-01-05  1136.630005  1129.660034  1132.660034  1136.52002

                         Volume   Adj Close
Ticker Date
^GSPC  2010-01-04  3.991400e+09  1132.98999
       2010-01-05  2.491020e+09  1136.52002

In [133]:
mkt_index_close = mkt_index[['Close']]
mkt_index_returns = mkt_index_close / mkt_index_close.shift(1) - 1
spx_returns = mkt_index_returns.iloc[mkt_index_returns.index.get_level_values('Ticker') == '^GSPC']
spx_returns.index = spx_returns.index.droplevel('Ticker')
nikkei_returns = mkt_index_returns.iloc[mkt_index_returns.index.get_level_values('Ticker') == '^N225']
nikkei_returns.index = nikkei_returns.index.droplevel('Ticker')

In [142]:
spx_returns.to_csv('spx_return.csv')

In [134]:
nikkei_returns.head(2)

               Close
Date
2010-01-04  2.849580
2010-01-05  0.002538

In [136]:
mkt_index_returns.head(2)

                      Close
Ticker Date
^GSPC  2010-01-04       NaN
       2010-01-05  0.003116

In [137]:
spx_returns.head(2)

               Close
Date
2010-01-04       NaN
2010-01-05  0.003116

In [138]:
nikkei_returns.head(2)

               Close
Date
2010-01-04  2.849580
2010-01-05  0.002538

In [139]:
return_data = pd.concat([spx_returns, nikkei_returns], axis = 1)
return_data.columns = ['SPX', 'NIKKEI']
return_data

                 SPX    NIKKEI
Date
2010-01-04       NaN  2.849580
2010-01-05  0.003116  0.002538
2010-01-06  0.000546  0.004645
2010-01-07  0.004001 -0.004640
2010-01-08  0.002882  0.010922
2010-01-11  0.001747       NaN
2010-01-12 -0.009381  0.007484
2010-01-13  0.008326 -0.013246
2010-01-14  0.002426  0.016083
2010-01-15 -0.010823  0.006823
2010-01-18       NaN -0.011566
2010-01-19  0.012500 -0.008308
2010-01-20 -0.010598 -0.002544
2010-01-21 -0.018945  0.012190
2010-01-22 -0.022141 -0.025566
2010-01-25  0.004598 -0.007352
2010-01-26 -0.004203 -0.017827
2010-01-27  0.004880 -0.007089
2010-01-28 -0.011818  0.015822
2010-01-29 -0.009829 -0.020765
2010-02-01  0.014266  0.000684
2010-02-02  0.012973  0.016273
2010-02-03 -0.005474  0.003205
2010-02-04 -0.031141 -0.004647
2010-02-05  0.002897 -0.028862
2010-02-08 -0.008863 -0.010467
2010-02-09  0.013040 -0.001901
2010-02-10 -0.002233  0.003130
2010-02-11  0.009680       NaN
2010-02-12 -0.002745  0.012866
...              ...       ...
2018-09-10  0.001898  0.002960
2018-09-11  0.003740  0.013033
2018-09-12  0.000357 -0.002651
2018-09-13  0.005282  0.009587
2018-09-14  0.000275  0.011978
2018-09-17 -0.005570       NaN
2018-09-18  0.005369  0.014110
2018-09-19  0.001253  0.010759
2018-09-20  0.007841  0.000102
2018-09-21 -0.000369  0.008237
2018-09-24 -0.003516       NaN
2018-09-25 -0.001305  0.002946
2018-09-26 -0.003289  0.003907
2018-09-27  0.002763 -0.009863
2018-09-28 -0.000007  0.013586
2018-10-01  0.003641  0.005212
2018-10-02 -0.000397  0.001025
2018-10-03  0.000712 -0.006578
2018-10-04 -0.008169 -0.005613
2018-10-05 -0.005528 -0.008004
2018-10-08 -0.000395       NaN
2018-10-09 -0.001418 -0.013216
2018-10-10 -0.032864  0.001562
2018-10-11 -0.020573 -0.038934
2018-10-12  0.014206  0.004595
2018-10-15 -0.005905 -0.018655
2018-10-16  0.021496  0.012480
2018-10-17 -0.000253  0.012944
2018-10-18 -0.014392 -0.008010
2018-10-19 -0.000361 -0.005564

[2287 rows x 2 columns]